# General configuration
#        debug: Debug levels [0..3]
#        map-request-retries: Additional Map-Requests to send per map cache miss
#        log-file: Specify log file used in daemon mode. If it is not specified,  
#           messages are written in syslog file

debug                  = 0 
map-request-retries    = 2
log-file               = /var/log/lispd.log
 
# 
# operating mode can be any of:
# xTR, RTR, MN, MS
#
operating-mode         = xTR

################################################
#
# MS config
#

control-iface = <iface name>

lisp-site {
    eid-prefix            = <prefix>
    key-type              = <int>
    key                   = <string>
    accept-more-specifics = <bool>
}

ms-static-registered-site {
    eid-prefix            = <prefix>
     rloc-address {
        address         = <string>
        priority        = <int>
        weight          = <int>
    }
}

###############################################
#
# Tunnel Router general configuration
# Common with xTR, RTR & MN
#


# RLOC Probing configuration
#   rloc-probe-interval: interval at which periodic RLOC probes are sent
#     (seconds). A value of 0 disables RLOC Probing
#   rloc-probe-retries: RLOC Probe retries before setting the locator with
#     status down. [0..5]
#   rloc-probe-retries-interval: interval at which RLOC probes retries are
#     sent (seconds) [1..#rloc-probe-interval]

rloc-probing {
    rloc-probe-interval             = 30
    rloc-probe-retries              = 2
    rloc-probe-retries-interval     = 5
}

# Encapsulated Map-Requests are sent to this map-resolver
# You can define several map-resolvers. Encapsulated Map-Request messages will
# be sent to only one.
#   address: IPv4 or IPv6 address of the map resolver  
map-resolver        = {
	<ip>	
}

###############################################
#
# RTR config
#

rtr-ifaces {
    rtr-iface {
        iface           = <iface name>
        ip_version      = <4/6>
        priority        = <int>
        weight          = <int>
    }
    ...
}

###############################################
#
# xTR & MN config
#

# Map-Registers are sent to this map-server
# You can define several map-servers. Map-Register messages will be sent to all
# of them.
#   address: IPv4 or IPv6 address of the map-server
#   key-type: Only 1 supported (HMAC-SHA-1-96)
#   key: password to authenticate with the map-server
#   proxy-reply [on/off]: Configure map-server to Map-Reply on behalf of the xTR

map-server {
        address 	= <ip>
        key-type   	= 1
        key         = lispmob
        proxy-reply	= off
}

# Packets addressed to non-LISP sites will be encapsulated to this Proxy-ETR
# You can define several Proxy-ETR. Traffic will be balanced according to
# priority and weight.
#   address: IPv4 or IPv6 address of the Proxy-ETR
#   priority [0-255]: Proxy-ETR with lower values are more preferable.
#   weight [0-255]: When priorities are the same for multiple Proxy-ETRs,
#     the Weight indicates how to balance unicast traffic between them.
#proxy-etr {
#        address     = IPv4 or IPv6 address
#        priority    = 1
#        weight      = 100
#}

# IPv4 / IPv6 EID of the node.
# Two kind of rlocs can be defined:
#   -> rloc-address: Specifies directly the rloc of the interface
#   -> rloc-iface: Specifies the interface associated with the RLOC
#
#   eid-prefix: EID prefix (IPvX/mask) of the mapping
#   address: IPv4 or IPv6 address of the rloc. Address should exist and
#      be assigned to an UP interface during starting process otherwise
#      it is discarded
#   interface: interface containing the RLOCs associated to this mapping 
#   ip_version: 4 to use IPv4 address of the interface and 6 to use IPv6 
#     address of the interface
#   priority [0-255]: Priority for the IPvX RLOC of the interface. Locators
#     with lower values are more preferable. This is used for both incoming
#     policy announcements and outcoming traffic policy management.
#   weight [0-255]: When priorities are the same for multiple RLOCs, the Weight
#     indicates how to balance unicast traffic between them.

database-mapping {
    eid-prefix          = <prefix>
    rloc-address {
        address         = <string>
        priority        = <int>
        weight          = <int>
    }
    rloc-iface{
        interface       = <string>
        ip_version      = <4/6>
        priority        = <int>
        weight          = <int>
    }
}

# For scenarios involving LISPmob hops is recommended to set probe and lookup to false

explicit-locator-path {
	elp-name = <string>
	elp-node {
		address = <prefix>
		strict 	= <bool>
		probe	= <bool>
		lookup	= <bool>
	}
	elp-node {
		address = <prefix>
		strict 	= <bool>
		probe	= <bool>
		lookup 	= <bool>
	} 
...
}

static-map-cache {
    eid-prefix          = <prefix>  
    rloc-address {
        address         = <string>
        priority        = <int>
        weight          = <int>
    }
}

# Current LISP beta-network (lisp4.net/lisp6.net) PITR addresses
# Uncomment the IPv4 or IPv6 list based on your current locators and
# comment the previous 'proxy-itrs' section


#proxy-itrs = {
# LISP beta-network IPv4 PITRs
#        69.31.31.98,                 # eqx-ash-pxtr
#        149.20.48.60,                # isc-pxtr
#        198.6.255.37,                # asp-pxtr
#        173.36.193.25,               # sjc-pxtr
#        129.250.1.63,                # ntt-amer-pxtr
#        217.8.98.33,                 # intouch-pxtr-1
#        217.8.98.35,                 # intouch-pxtr-2
#        193.162.145.46,              # tdc-pxtr
#        158.38.1.92,                 # uninett-pxtr
#        203.181.249.172,             # apan-pxtr
#        202.51.247.10                # sg-nus-pxtr
# LISP beta-network IPv6 PITRs 
#        2001:590::451f:1f62,         # eqx-ash-pxtr
#        2001:4f8:3:d::60,            # isc-pxtr
#        2001:418:4:1:deaf:bebe::10d, # asp-pxtr
#        2001:418:0:1000::613,        # ntt-amer-pxtr
#        2001:200:e000:17::17,        # intouch-pxtr-1
#        2001:67C:21B4:108::b,        # intouch-pxtr-2
#        2001:6c8:41:100:0:2:1:c,     # tdc-pxtr
#        2001:700:0:52E::4,           # uninett-pxtr
#        2001:67C:21B4:107::b         # apan-pxtr
#}
