#
#
#       lispd example config file
#
#


#
#       deamon config
#

debug                = on 
map-request-retries  = 2			# send 2 before giving up


#
#       LISP Config
#

# Encapsulated Map-Requests are sent to this map resolver
map-resolver        = 128.223.156.23

# Register to this map server
map-server {
        address	    = 128.223.156.35		# 128.223.156.35
        key-type    = 1		                # SHA1
        key	    = foo%bar
	verify	    = off	                # on --> lig(self)
	proxy-reply = on	                # ask ms to proxy reply
}

# Encapsulate packets for non-LISP sites to this Proxy-ETR
proxy-etr {
	address     = 149.20.48.60
	priority    = 1
	weight      = 100
}

# IPv4 EID of the mobile node
database-mapping {
         eid-prefix = 153.16.254.1/32
#         iid        = 0
         interface  = eth0
         priority   = 1 
         weight     = 100
}

# IPv6 EID of the mobile node
database-mapping {
         eid-prefix 	= 2610:d0:ffff:192::1/128
#         iid        	= 223
         interface  	= eth0
         priority_v4	= 1
         weight_v4     	= 100
         priority_v6	= 1
         weight_v6     	= 100
}

# Static cache entries
static-map-cache {
        eid-prefix  = 153.16.10.0/24
#        iid         = 1
        rloc        = 128.223.156.134
        priority    = 1 
        weight      = 100
}

# List of PITRs to SMR on handover
proxy-itrs = {
	69.31.31.98,		# eqx-ash-pxtr
	149.20.48.60,		# isc-pxtr
	198.6.255.37,		# asp-pxtr
	129.250.1.63,		# ntt-amer-pxtr
	217.8.98.33,		# intouch-pxtr-1
	217.8.98.35,		# intouch-pxtr-2
	193.162.145.46,		# tdc-pxtr
	158.38.1.92,		# uninett-pxtr
	203.181.249.172		# apan-pxtr
}
