#
#       lispd example config file
#
package 'lispd'

# General configuration
#	debug: Debug levels [0..3]
#	map_request_retries: Additional Map-Requests to send per map cache miss
#	operating_mode: Operating mode can be any of: xTR, RTR, MN, MS
config 'daemon'
        option  'debug'                 '0' 
        option  'map_request_retries'   '2'
        option  'operating_mode'        'xTR'

#---------------------------------------------------------------------------------------------------------------------

# Map Server (MS) configuration

config 'ms_basic'
        option  'control_iface'         'eth0'

config 'lisp-site'
        option   'eid-prefix'               'IPv4 or IPv6 address /mask length'
        option   'key_type'                 '1'
        option   'key'                      'password'
        option   'accept_more_specifics'    'off'

config 'ms-static-registered-site'
        option   'eid_prefix'               'IPv4 or IPv6 address /mask length'
        option   'rloc_set'                 'name'

#---------------------------------------------------------------------------------------------------------------------

# Tunnel Router general configuration: In common with xTR, RTR & MN

        
# RLOC Probing configuration
#   rloc_probe_interval: interval at which periodic RLOC probes are sent (seconds). A value of 0 disables RLOC Probing
#   rloc_probe_retries: RLOC Probe retries before setting the locator with status down. [0..5]
#   rloc_probe_retries_interval: interval at which RLOC probes retries are sent (seconds) [1..#rloc_probe_interval]
        
config 'rloc-probing'        
        option  'rloc_probe_interval'           '30'
        option  'rloc_probe_retries'            '2'
        option  'rloc_probe_retries_interval'   '5'


# Encapsulated Map-Requests are sent to this map-resolver
# You can define several map-resolvers. Encapsulated Map-Request messages will be sent to only one.
#   address: IPv4 or IPv6 address of the map resolver
config 'map-resolver'
        option  'address'               'IPv4 or IPv6 address'

config 'static-map-cache'
        option   'eid-prefix'           'IPv4 or IPv6 address /mask length'
        option   'rloc_set'             'name'

#---------------------------------------------------------------------------------------------------------------------

# Configuration parameters for xTR and MN
        
# NAT Traversl configuration. 
#   nat_aware: check if the node is behind NAT
#   site_ID: 64 bits to identify the site where the node is connected to. In hexadecimal
#   xTR_ID: 128 bits to identify the xTR inside the site. In hexadecimal
# Limitation of version 0.3.3 when nat_aware is enabled: 
#   Only one interface is supported.
#   Only one Map Server and one Map Resolver
        
config 'nat-traversal'
        option  'nat_aware'	'off'
        option  'site_ID'   '0000000000000001'                  #In doubt, keep the default value
        option  'xTR_ID'    '00000000000000000000000000000001'  #In doubt, keep the default value
        
        
# Map-Registers are sent to this map-server
# You can define several map-servers. Map-Register messages will be sent to all of them.
#	address: IPv4 or IPv6 address of the map-server
#   key_type: Only 1 supported (HMAC-SHA-1-96)
#	key: password to authenticate with the map-server
#   proxy_reply [on/off]: Configure map-server to Map-Reply on behalf of the xTR

config 'map-server'
        option   'address'              'IPv4 or IPv6 address'
        option   'key_type'             '1'			
        option   'key'                  'password'
        option   'proxy_reply'          'on'


config 'database-mapping'
        option   'eid_prefix'           'IPv4 or IPv6 address /mask length'
        option   'rloc_set'             'name'

# List of PITRs to SMR on handover
#   address: IPv4 or IPv6 address of the Proxy-ITR

config 'proxy-itr'
        list   'address'              'IPv4 or IPv6 PITR address'

# Current LISP beta-network (lisp4.net/lisp6.net) PITR addresses
# Uncomment the IPv4 or IPv6 list based on your current locators

# LISP beta-network IPv4 PITRs

#config 'proxy-itr'
#        list     'address'              '69.31.31.98'                   # eqx-ash-pxtr
#        list     'address'              '149.20.48.60'                  # isc-pxtr
#        list     'address'              '198.6.255.37'                  # asp-pxtr
#        list     'address'              '173.36.193.25'                 # sjc-pxtr
#        list     'address'              '129.250.1.63'                  # ntt-amer-pxtr
#        list     'address'              '217.8.98.33'                   # intouch-pxtr-1
#        list     'address'              '217.8.98.35'                   # intouch-pxtr-2
#        list     'address'              '193.162.145.46'                # tdc-pxtr
#        list     'address'              '158.38.1.92'                   # uninett-pxtr
#        list     'address'              '203.181.249.172'               # apan-pxtr
#        list     'address'              '202.51.247.10'                 # sg-nus-pxtr
#        list     'address'              '2001:590::451f:1f62'           # eqx-ash-pxtr
#        list     'address'              '2001:4f8:3:d::60'              # isc-pxtr
#        list     'address'              '2001:418:4:1:deaf:bebe::10d'   # asp-pxtr
#        list     'address'              '2001:418:0:1000::613'          # ntt-amer-pxtr
#        list     'address'              '2001:200:e000:17::17'          # intouch-pxtr-1
#        list     'address'              '2001:67C:21B4:108::b'          # intouch-pxtr-2
#        list     'address'              '2001:6c8:41:100:0:2:1:c'       # tdc-pxtr
#        list     'address'              '2001:700:0:52E::4'             # uninett-pxtr
#        list     'address'              '2001:67C:21B4:107::b'          # apan-pxtr

# Packets addressed to non-LISP sites will be encapsulated to this Proxy-ETR
# You can define several Proxy-ETR. Traffic will be balanced according to priority and weight.
#   address: IPv4 or IPv6 address of the Proxy-ETR
#   priority [0-255]: Proxy-ETR with lower values are more preferable.
#   weight [0-255]: When priorities are the same for multiple Proxy-ETRs, the Weight indicates how to balance 
#    unicast traffic between them.
config 'proxy-etr'
        option   'address'              'IPv4 or IPv6 address'
        option   'priority'             '1'
        option   'weight'               '100'
        
#---------------------------------------------------------------------------------------------------------------------

# Configuration parameters for RTR
        
config 'rtr-iface'
        option   'iface'                'eth0'
        option   'priority'             '1'
        option   'weight'               '100'
        
#---------------------------------------------------------------------------------------------------------------------

config 'rloc-set'
        option   'name'             'name'
        list     'rloc_name'        'name'

config 'rloc-address'
        option   'name'                 'name'
        option   'address'              'IPv4 or IPv6 address'
        option   'priority'             '1'     # Priority of IPv4 locator of the interface eth0 for this EID
        option   'weight'               '100'   # Weight of IPv4 locator of the interface eth0 for this EID
        
config 'rloc-iface'
        option   'name'                 'name'
        option   'interface'            'eth0'
        option   'afi'                  '<4/6>'
        option   'priority'             '1'     # Priority of IPv4 locator of the interface eth0 for this EID
        option   'weight'               '100'   # Weight of IPv4 locator of the interface eth0 for this EID
        
config 'elp-node'
        option   'elp_name'             'name'
        option   'address'              'IPv4 or IPv6 address'
        option   'strict'               'off'
        option   'probe'                'off'
        option   'lookup'               'off'