#
#       lispd example config file
#
package 'lispd'

# General configuration
#   router-mode: on  -> LISP routing capabilities enabled: xTR
#                off -> LISP mobile node. 
#	debug: Debug levels [0..3]
#   log_file: Specify log file used in daemon mode. If it is not specified,  
#     messages are written in syslog file
#	map_request_retries: Additional Map-Requests to send per map cache miss
#	rloc_probing_interval: Period in seconds between RLOC probes. A value of 0 will dissable RLOC probing 

config 'daemon'
        option  'router_mode'           'on'                  #In doubt, keep the default value
        option  'debug'                 '0' 
        option  'log_file'              '/tmp/lispd.log' 
        option  'map_request_retries'   '2'
        
# RLOC Probing configuration
#   rloc_probe_interval: interval at which periodic RLOC probes are sent (seconds). A value of 0 disables RLOC Probing
#   rloc_probe_retries: RLOC Probe retries before setting the locator with status down. [0..5]
#   rloc_probe_retries_interval: interval at which RLOC probes retries are sent (seconds) [1..#rloc_probe_interval]
        
config 'rloc-probing'        
        option  'rloc_probe_interval'           '30'
        option  'rloc_probe_retries'            '2'
        option  'rloc_probe_retries_interval'   '5'
        
# NAT Traversl configuration. 
#   nat_aware: check if the node is behind NAT
# Limitation of version 0.4.1 when nat_aware is enabled: 
#   Only one interface is supported.
#   Only one Map Server and one Map Resolver
        
config 'nat-traversal'
        option  'nat_aware'	'on'
        
        
# Encapsulated Map-Requests are sent to this map-resolver
# You can define several map-resolvers. Encapsulated Map-Request messages will be sent to only one.
#	address: IPv4 or IPv6 address or FQDN name of the map resolver     
config 'map-resolver'
        option  'address'               'IPv4 or IPv6 address'
        
# DDT Client section.
# DDT configuration has prefernece over map-resolver configuration
#
#   ddt-client [on/off]: Obtain the mapping from EIDs to RLOCs through the DDT tree
config 'ddt-client'
        option  'enabled'  'off'
 
# DDT Encapsulated Map-Requests are sent to these ddt root node. You can define
# several ddt-root-node. DDT Encapsulated Map-Request messages will be sent to the
# ddt-root-node with higher priority (lowest value).
#
#   address: IPv4 or IPv6 address or FQDN name of the DDT root node
#   priority [0..255]: DDT root nodes with lower values are more preferable.
#   weight [0..255]: Not yet implemented


#config 'ddt-root-node'
#        option   'address'              'IPv4 or IPv6 address or FQDN name'
#        option   'priority'             '1'
#        option   'weight'               '100' 

# Some LISP beta-network (lisp4.net/lisp6.net) DDT root nodes

config 'ddt-root-node'
        option   'address'              '84.88.16.10'
        option   'priority'             '1'
        option   'weight'               '100' 
        
config 'ddt-root-node'
        option   'address'              '2001:40B0:1::F0F2'
        option   'priority'             '1'
        option   'weight'               '100'

# Current LISP beta-network (lisp4.net/lisp6.net) DDT root nodes:
# IPv4: 
#      - csuc-ddt.rloc.lisp4.net: 84.88.16.10
#      - arin-ddt.rloc.lisp4.net: 192.149.252.136
#      - ripe-ddt.rloc.lisp4.net: 193.0.0.170
#      - vxnet-ddt.rloc.lisp4.net: 199.119.73.8
# IPv6:
#      - csuc-ddt.rloc.lisp6.net: 2001:40B0:1::F0F2
#      - arin-ddt.rloc.lisp6.net: 2001:500:4:12::5
#      - ripe-ddt.rloc.lisp6.net: 2001:610:240:5:193::170
       
                

# Map-Registers are sent to this map-server
# You can define several map-servers. Map-Register messages will be sent to all of them.
#	address: IPv4 or IPv6 address of the map-server
#   key_type: Only 1 supported (HMAC-SHA-1-96)
#	key: password to authenticate with the map-server
#   proxy_reply [on/off]: Configure map-server to Map-Reply on behalf of the xTR
config 'map-server'
        option   'address'              'IPv4 or IPv6 address or FQDN name'
        option   'key_type'             '1'			
        option   'key'                  'password'
        option   'proxy_reply'          'on'

# Packets addressed to non-LISP sites will be encapsulated to this Proxy-ETR
# You can define several Proxy-ETR. Traffic will be balanced according to priority and weight.
#	address: IPv4 or IPv6 address of the Proxy-ETR
#   priority [0-255]: Proxy-ETR with lower values are more preferable.
#	weight [0-255]: When priorities are the same for multiple Proxy-ETRs, the Weight indicates how to balance 
#    unicast traffic between them.
config 'proxy-etr'
        option   'address'              'IPv4 or IPv6 address or FQDN name'
        option   'priority'             '1'
        option   'weight'               '100'     

# IPv4 / IPv6 EID of the node.
# One database-mapping structure is defined for each interface with RLOCs associated to this EID
#	eid_prefix: EID prefix (IPvX/mask) of the mapping 
#   interface: interface containing the RLOCs associated to this mapping 
#   priority_vX [0-255]: Priority for the IPvX RLOC of the interface. Locators with lower values are more preferable. 
#      This is used for both incoming policy announcements and outcoming traffic policy management.
#      (A value of -1  means that IPvX address of that interface is not used)
#   weight [0-255]: When priorities are the same for multiple RLOCs, the Weight indicates how to balance unicast 
#        traffic between them.
 
         
config 'database-mapping'
        option   'eid_prefix'           'IPv4 or IPv6 address /mask length'
        option   'interface'            'eth0'	
        option   'priority_v4'          '1'		# Priority of IPv4 locator of the interface eth0 for this EID
        option   'weight_v4'            '100' 	# Weight of IPv4 locator of the interface eth0 for this EID
        option   'priority_v6'          '1'		# Priority of IPv6 locator of the interface eth0 for this EID
        option   'weight_v6'            '100' 	# Weight of IPv6 locator of the interface eth0 for this EID



        
# List of PITRs to SMR on handover
#	address: IPv4 or IPv6 address or FQDN name of the Proxy-ITR

config 'proxy-itr'
        option   'address'              'IPv4 or IPv6 PITR address or FQDN name' 


# Current LISP beta-network (lisp4.net/lisp6.net) PITR addresses
# Uncomment the IPv4 or IPv6 list based on your current locators

# LISP beta-network IPv4 PITRs

#config 'proxy-itr'
#        option   'address'              '69.31.31.98'           # eqx-ash-pxtr

#config 'proxy-itr'
#        option   'address'              '149.20.48.60'          # isc-pxtr

#config 'proxy-itr'
#        option   'address'              '198.6.255.37'          # asp-pxtr
        
#config 'proxy-itr'
#        option   'address'              '173.36.193.25'         # sjc-pxtr

#config 'proxy-itr'
#        option   'address'              '129.250.1.63'          # ntt-amer-pxtr
        
#config 'proxy-itr'
#        option   'address'              '217.8.98.33'           # intouch-pxtr-1
        
#config 'proxy-itr'
#        option   'address'              '217.8.98.35'           # intouch-pxtr-2
        
#config 'proxy-itr'
#        option   'address'              '193.162.145.46'        # tdc-pxtr 
        
#config 'proxy-itr'
#        option   'address'              '158.38.1.92'           # uninett-pxtr
        
#config 'proxy-itr'
#        option   'address'              '203.181.249.172'       # apan-pxtr        
        
#config 'proxy-itr'
#        option   'address'              '202.51.247.10'         # sg-nus-pxtr
                 
# LISP beta-network IPv6 PITRs 

#config 'proxy-itr'
#       option   'address'              '2001:590::451f:1f62' 			# eqx-ash-pxtr
#config 'proxy-itr'
#       option   'address'              '2001:4f8:3:d::60'				# isc-pxtr
#config 'proxy-itr'
#       option   'address'              '2001:418:4:1:deaf:bebe::10d' 	# asp-pxtr
#config 'proxy-itr'
#       option   'address'              '2001:418:0:1000::613' 			# ntt-amer-pxtr
#config 'proxy-itr'
#       option   'address'              '2001:200:e000:17::17'   		# intouch-pxtr-1
#config 'proxy-itr'
#       option   'address'              '2001:67C:21B4:108::b'    		# intouch-pxtr-2
#config 'proxy-itr'
#       option   'address'              '2001:6c8:41:100:0:2:1:c' 		# tdc-pxtr
#config 'proxy-itr'
#       option   'address'              '2001:700:0:52E::4' 			# uninett-pxtr
#config 'proxy-itr'
#       option   'address'              '2001:67C:21B4:107::b'    		# apan-pxtr
        
        
