#
#       lispd example config file for OpenWRT
#
package 'oor'

# General configuration
#   debug: Debug levels [0..3]
#   log_file: Specifies log file used in daemon mode. If it is not specified,  
#     messages are written in syslog file
#   map_request_retries: Additional Map-Requests to send per map cache miss
#   operating_mode: Operating mode can be any of: xTR, RTR, MN, MS
#   nat_traversal_support: check if the node is behind NAT. Use of RTRs (for xTR and MN mode)
config 'daemon'
        option  'debug'                 '0'
        option  'log_file'              '/tmp/oor.log'  
        option  'map_request_retries'   '2'
        option  'operating_mode'        'xTR'

#---------------------------------------------------------------------------------------------------------------------

# Map Server (MS) configuration


# Control messages are received and generated through this interface
# Only one interface is supported
config 'ms_basic'
        option  'control_iface'         'eth0'

# Define an allowed lisp site to be registered into the Map Server
#   eid_prefix: Accepted EID prefix (IPvX/mask)
#   key_type: Only 1 supported (HMAC-SHA-1-96)
#   key: Password to authenticate the received Map Registers
#   iid: Instance ID associated with the lisp site [0-16777215]
#   accept_more_specifics [true/false]: Accept more specific prefixes
#     with same authentication information 
config 'lisp-site'
        option   'eid_prefix'               'IPv4 or IPv6 address /mask length'
        option   'key_type'                 '1'
        option   'key'                      'password'
        option   'iid'                      '0'
        option   'accept_more_specifics'    'off'


# Define a staticly registered mapping. New can Map Registers overwrite
# the information of this mapping
#   eid_prefix: EID prefix (IPvX/mask) of the mapping
#   iid: Instance ID associated with the lisp site [0-16777215]
#   rloc_set: Name of the set of rlocs to be used
config 'ms-static-registered-site'
        option   'eid_prefix'               'IPv4 or IPv6 address /mask length'
        option   'iid'                      '0'
        option   'rloc_set'                 'name'

#---------------------------------------------------------------------------------------------------------------------

# Tunnel Router general configuration
# Common for xTR, RTR & MN

        
# RLOC Probing configuration
#   rloc_probe_interval: interval at which periodic RLOC probes are sent (seconds). A value of 0 disables RLOC Probing
#   rloc_probe_retries: RLOC Probe retries before setting the locator with status down. [0..5]
#   rloc_probe_retries_interval: interval at which RLOC probes retries are sent (seconds) [1..rloc_probe_interval]
        
config 'rloc-probing'        
        option  'rloc_probe_interval'           '30'
        option  'rloc_probe_retries'            '2'
        option  'rloc_probe_retries_interval'   '5'


# Encapsulated Map-Requests are sent to this map-resolver
# You can define several map-resolvers. Encapsulated Map-Request messages will be sent to only one.
#   address: IPv4 or IPv6 address of the map resolver
config 'map-resolver'
        list  'address'               'IPv4 or IPv6 address'


# Static Map Entry of the Map Cache
#   eid-prefix: EID prefix (IPvX/mask) of the mapping
#   iid: Instance ID associated to the EID. When using VXLAN-GPE, iid configures
#     the VNI of the mapping. [0-16777215]
#   rloc_set: Name of the set of rlocs to be used
config 'static-map-cache'
        option   'eid_prefix'           'IPv4 or IPv6 address /mask length'
        option   'iid'                  '0'
        option   'rloc_set'             'name'

#---------------------------------------------------------------------------------------------------------------------
        
# xTR configuration

# NAT Traversl configuration.
#   nat_traversal_support: check if the node is behind NAT.

config 'nat-traversal'
        option  'nat_traversal_support' 'off'


# Map-Registers are sent to this map-server
# You can define several map-servers. Map-Register messages will be sent to all of them.
#	address: IPv4 or IPv6 address of the map-server
#   key_type: Only 1 supported (HMAC-SHA-1-96)
#	key: password to authenticate with the map-server
#   proxy_reply [on/off]: Configure map-server to Map-Reply on behalf of the xTR

config 'map-server'
        option   'address'              'IPv4 or IPv6 address'
        option   'key_type'             '1'			
        option   'key'                  'password'
        option   'proxy_reply'          'on'

# IPv4 / IPv6 EID of the node.
#   eid-prefix: EID prefix (IPvX/mask) of the mapping
#   iid: Instance ID associated to the EID. When using VXLAN-GPE, iid configures
#     the VNI of the mapping. [0-16777215]
#   rloc_set: Name of the set of rlocs to be used
config 'database-mapping'
        option   'eid_prefix'           'IPv4 or IPv6 address /mask length'
        option   'iid'                  '0'
        option   'rloc_set'             'name'

# List of PITRs to SMR on handover
#   address: IPv4 or IPv6 address of the Proxy-ITR
config 'proxy-itr'
        list   'address'              'IPv4 or IPv6 PITR address'

# Current LISP beta-network (lisp4.net/lisp6.net) PITR addresses
# Uncomment the IPv4 or IPv6 list based on your current locators

#config 'proxy-itr'
#        list     'address'              '69.31.31.98'                   # eqx-ash-pxtr
#        list     'address'              '149.20.48.60'                  # isc-pxtr
#        list     'address'              '198.6.255.37'                  # asp-pxtr
#        list     'address'              '173.36.193.25'                 # sjc-pxtr
#        list     'address'              '129.250.1.63'                  # ntt-amer-pxtr
#        list     'address'              '217.8.98.33'                   # intouch-pxtr-1
#        list     'address'              '217.8.98.35'                   # intouch-pxtr-2
#        list     'address'              '193.162.145.46'                # tdc-pxtr
#        list     'address'              '158.38.1.92'                   # uninett-pxtr
#        list     'address'              '203.181.249.172'               # apan-pxtr
#        list     'address'              '202.51.247.10'                 # sg-nus-pxtr
#        list     'address'              '2001:590::451f:1f62'           # eqx-ash-pxtr
#        list     'address'              '2001:4f8:3:d::60'              # isc-pxtr
#        list     'address'              '2001:418:4:1:deaf:bebe::10d'   # asp-pxtr
#        list     'address'              '2001:418:0:1000::613'          # ntt-amer-pxtr
#        list     'address'              '2001:200:e000:17::17'          # intouch-pxtr-1
#        list     'address'              '2001:67C:21B4:108::b'          # intouch-pxtr-2
#        list     'address'              '2001:6c8:41:100:0:2:1:c'       # tdc-pxtr
#        list     'address'              '2001:700:0:52E::4'             # uninett-pxtr
#        list     'address'              '2001:67C:21B4:107::b'          # apan-pxtr

# Packets addressed to non-LISP sites will be encapsulated to this Proxy-ETR
# You can define several Proxy-ETR. Traffic will be balanced according to priority and weight.
#   address: IPv4 or IPv6 address of the Proxy-ETR
#   priority [0-255]: Proxy-ETR with lower values are more preferable.
#   weight [0-255]: When priorities are the same for multiple Proxy-ETRs, the Weight indicates how to balance 
#    unicast traffic between them.
config 'proxy-etr'
        option   'address'              'IPv4 or IPv6 address'
        option   'priority'             '1'
        option   'weight'               '100'
        
#---------------------------------------------------------------------------------------------------------------------

# RTR configuration


# List of interafaces to be used as outgoing interfaces of the packets sent
# by the RTR. One for each RLOC
#   iface: interface containing the RLOCs to be used for outgoing traffic 
#   ip_version: 4 to use IPv4 address of the interface and 6 to use IPv6 
#     address of the interface
#   priority [0-255]: Priority for the IPvX RLOC of the interface. Locators
#     with lower values are more preferable. This is used for outgoing 
#     traffic policy management.
#   weight [0-255]: When priorities are the same for multiple RLOCs, the Weight
#     indicates how to balance unicast traffic between them.        
config 'rtr-iface'
        option   'iface'                'eth0'
        option   'ip_version'           '<4/6>'
        option   'priority'             '1'
        option   'weight'               '100'
               
        
#---------------------------------------------------------------------------------------------------------------------

# Miscellaneous configuration


# Set of rlocs to be used in mappings
#   name: Name of the set of rlocs
#   rloc_name: List of each of the names of the rlocs to be used in the set.
#     It can be used rloc-address or rloc-iface
config 'rloc-set'
        option   'name'             'name'
        list     'rloc_name'        'name'

# RLOC defined with an IP address
#   name: Name of the rloc to be used in rloc-set
#   address: It could be one of the following cases
#      - IPv4 or IPv6 address of the rloc.
#      - ELP name
#   priority [0-255]: Priority for the IPvX RLOC. Locators with
#     lower values are more preferable. This is used for both incoming
#     policy announcements and outgoing traffic policy management.
#   weight [0-255]: When priorities are the same for multiple RLOCs, the Weight
#     indicates how to balance unicast traffic between them.
config 'rloc-address'
        option   'name'                 'name'
        option   'address'              'IPv4 or IPv6 address'
        option   'priority'             '1'     # Priority of IPv4 locator of the interface eth0 for this EID
        option   'weight'               '100'   # Weight of IPv4 locator of the interface eth0 for this EID

# RLOC defined with a network interface
#   name: Name of the rloc to be used in rloc-set
#   interface: interface containing the RLOCs to be used 
#   ip_version: 4 to use IPv4 address of the interface and 6 to use IPv6 
#     address of the interface
#   priority [0-255]: Priority for the IPvX RLOC. Locatorsn with
#     lower values are more preferable. This is used for both incoming
#     policy announcements and outgoing traffic policy management.
#   weight [0-255]: When priorities are the same for multiple RLOCs, the Weight
#     indicates how to balance unicast traffic between them.        
config 'rloc-iface'
        option   'name'                 'name'
        option   'interface'            'eth0'
        option   'ip_version'           '<4/6>'
        option   'priority'             '1'     # Priority of IPv4 locator of the interface eth0 for this EID
        option   'weight'               '100'   # Weight of IPv4 locator of the interface eth0 for this EID


# Structure to define a path involving multiple hops.
#   elp_name: Name used to define the ELP used as a reference in the address of the rloc-address 
#        structure. For each hope use same elp_name. They should appear in order.
#   address: IPv4 or IPv6 address of the rloc. The address of the last element of the path should
#       exist and be assigned to an UP interface during starting process otherwise
#       it is discarded.
#   strict [true/false]: Not yet implemented. Use false
#   probe [true/false]: Not yet implemented. Use false
#   lookup [true/false]: Not yet implemented. Use false        
config 'elp-node'
        option   'elp_name'             'name'
        option   'address'              'IPv4 or IPv6 address'
        option   'strict'               'off'
        option   'probe'                'off'
        option   'lookup'               'off'
