# Object files
*.o

# Vi(m) swap files
.*.swp

# CScope file
cscope.out

# Compiled executable
oor

# Local configuration file

#temp kate files
*~

#kdev
*.kdev4

Apple/oor-apple.xcodeproj/xcuserdata/
