<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openoverlayrouter.root" android:versionCode="3" android:versionName="1.1.1">
    <uses-sdk android:minSdkVersion="9" />

    <application android:icon="@drawable/icon" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".OOR"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="logActivity" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name="confActivity"></activity>               
        <activity android:name="updateConfActivity"></activity>
        <service  android:name="org.openoverlayrouter.root.OORService"></service>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
</manifest>
